{% extends 'base.html' %}

{% block title %}
    <title>Онлайн магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Онлайн магазин</h1>
      <p class="fs-5 text-muted">В нашем магазине вы можете купить ну прям все, что вам нужно! Заходи - покупай, выходи - не рыдай!!!</рыда></p>
    </div>



<div class="card-deck mb-3 text-center">
  {% for el in data %}
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ el.title }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{ el.price }}<small class="text-muted fw-light"> руб.</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Очэнь хорошае</li>
                <li>Вчера хрукало</li>
                <li>Завтра не будет</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endfor %}
</div>


</div>
{% endblock %}